* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.section {
  padding: 50px 0px;
}

.section-title {
  padding: 0 0 40px 0;
  width: 50%;
  margin: 0 auto;
}

.section-title__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  position: relative;
}

.section-title__title::before {
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
  background: #fbba08;
  width: 70px;
  height: 3px;
  display: block;
}

.section-title__subtitle {
  text-transform: uppercase;
}

.section_lith-gary {
  background-color: #f1f1f1;
}

.custom-list {
  list-style-type: none;
  font-size: 20px;
  line-height: 33px;
  padding-left: 0;
}

.custom-list__li {
  padding: 5px 0;
}

.custom-list__li ul {
  padding-left: 0;
  font-size: 16px;
}

.custom-list__li_oragne {
  background-image: url(../images/icons/dotorange.svg);
  background-position: 1px 18px;
  background-repeat: no-repeat;
  list-style-type: none;
  padding: 7px 20px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .section-title {
    padding: 0;
    width: 75%;
  }
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin-top: 14px;
}

.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}

.toggle-mnu span:after {
  top: 18px;
}

.toggle-mnu span {
  position: relative;
  display: block;
}

.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px;
}

.toggle-mnu.on span {
  background-color: transparent;
}

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
          transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
          transform: rotate(-45deg) translate(6px, -7px);
}

.header {
  background-color: rgba(254, 202, 57, 0.9);
}

.top-panel__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.contact-block__inner_icon {
  padding-left: 35px;
  background-image: url(../images/header/phone.svg);
  background-repeat: no-repeat;
  background-size: 28px 28px;
}

.contact-block__text a {
  display: block;
  color: #000;
  text-decoration: none;
}

.work-time-block__inner {
  display: inline-block;
}

.work-time-block__inner_icon {
  padding-left: 35px;
  background-image: url(../images/header/clock.svg);
  background-repeat: no-repeat;
  background-size: 28px 28px;
}

.work-time-block__text {
  color: #000;
}

.nav-bar .container .nav-bar__row {
  background-image: url(../images/nav-bar/navbar-bg.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.nav-bar .container .nav-bar__row .site-branding {
  margin: 15px;
}

.mobile-menu-btn {
  display: none;
  position: absolute;
  right: 20px;
  top: 5px;
}

@media (max-width: 768px) {
  .nav-bar__container {
    padding: 0 !important;
  }
  .mobile-menu-btn {
    display: block;
  }
  .top-panel__top {
    font-size: 14px;
  }
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed Light';
  src: url("../fonts/OpenSansCondensed-Light.eot");
  src: url("../fonts/OpenSansCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensed-Light.woff") format("woff"), url("../fonts/OpenSansCondensed-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed Bold';
  src: url("../OpenSansCondensed-Bold.eot");
  src: url("../OpenSansCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../OpenSansCondensed-Bold.woff") format("woff"), url("../OpenSansCondensed-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Condensed Light Italic';
  src: url("../OpenSansCondensed-LightItalic.eot");
  src: url("../OpenSansCondensed-LightItalic.eot?#iefix") format("embedded-opentype"), url("../OpenSansCondensed-LightItalic.woff") format("woff"), url("../OpenSansCondensed-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
}

header {
  font-family: 'Roboto Medium', Arial, Helvetica, sans-serif;
}

.section-title__title {
  font-family: 'Roboto Medium', Arial, Helvetica, sans-serif;
}

.item-icon__text {
  font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
}

.site-navigation {
  width: 100%;
}

.site-navigation .main-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 22px;
}

.site-navigation .main-menu__item {
  list-style-type: none;
}

.site-navigation .main-menu__item a {
  text-decoration: none;
  color: red;
  margin: 0 18px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.site-navigation .main-menu__item:hover a {
  color: rgba(254, 202, 57, 0.5);
}

.site-navigation .main-menu__item_active {
  position: relative;
}

.site-navigation .main-menu__item_active a {
  color: #feca39 !important;
}

.site-navigation .main-menu__item_active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -7px;
  background-color: #feca39;
}

@media (max-width: 768px) {
  .site-navigation {
    display: none;
  }
  .toggle-mnu {
    display: block;
  }
}

.main-slider__body {
  max-width: 1170px;
  margin: 0 auto;
}

.slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.slide-content__image {
  width: 65%;
}

.slide-content__image img {
  width: 100%;
  height: 100%;
}

.slide-content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 35%;
  color: #ffffff;
  text-transform: uppercase;
  background: #000000;
  background: -webkit-gradient(linear, left top, right top, from(#434343), to(#000000));
  background: linear-gradient(to right, #434343, #000000);
}

.slide-content__text h2 {
  font-size: 20px;
  padding: 0 50px;
}

.slide-content__text ul li {
  background-image: url(/images/icons/emojione-monotone_check-mark.svg);
  background-repeat: no-repeat;
  background-position: 1px 10px;
  list-style-type: none;
  font-size: 16px;
  padding: 10px 25px 10px;
}

.slide-content__text ul li span {
  padding-right: 20px;
}

@media (max-width: 768px) {
  .slide-content {
    position: relative;
  }
  .slide-content__image {
    width: 100%;
    min-height: 200px;
  }
  .slide-content__text {
    bottom: 25px;
    right: 10px;
    width: 200px;
    position: absolute;
    background: rgba(11, 12, 13, 0.6);
  }
  .slide-content__text h2 {
    font-size: 12px;
    padding: 5px 15px;
  }
  .slide-content__text ul {
    display: none;
  }
}

.icons-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.icons-flex .item-icon {
  -ms-flex-preferred-size: 230px;
      flex-basis: 230px;
}

.icons-flex .item-icon__img img {
  display: block;
  margin: 0 auto;
}

.icons-flex .item-icon__text {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #666666;
  line-height: 28px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .item-icon {
    -ms-flex-preferred-size: 120px !important;
        flex-basis: 120px !important;
  }
}

.srvices__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
}

.srevices__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 20px 0;
  padding: 0 8px;
}

.srevices__column_orange {
  background-color: rgba(254, 202, 57, 0.9);
}

.item_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 230px;
          flex: 0 0 230px;
}

.item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 15px;
  background-color: #ffffff;
}

.item__body_transporent {
  background-color: transparent !important;
}

.get-smeta {
  -ms-flex-line-pack: center;
      align-content: center;
}

.item__title {
  text-transform: uppercase;
  font-size: 18px;
}

.item__text {
  font-size: 16px;
  line-height: 24px;
  padding-right: 10px;
}

.item__price {
  display: inline-block;
  background: rgba(254, 202, 57, 0.9);
  padding: 7px;
  font-weight: 600;
}

.price__label {
  display: inline-block;
}

.price__value {
  display: inline-block;
  padding: 0 5px;
}

.price__currency {
  display: inline-block;
}

@media (max-width: 768px) {
  .item_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .item__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .item__image img {
    width: 100%;
  }
  .item__price {
    margin-bottom: 10px;
  }
}

.specialization__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specizlization__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 180px;
          flex: 1 1 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: -15px;
  max-width: 262px;
}

.specialization__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.specialize__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.specialize__image img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.specialyze__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(251, 186, 8, 0.8);
  line-height: 21px;
  font-size: 18px;
  padding: 18px 10px 26px 18px;
}

@media (max-width: 768px) {
  .specizlization__item {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
  }
}

.otehr__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 500px;
          flex: 1 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.other__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 467px;
          flex: 1 467px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/other-services/other1.jpg");
  background-size: cover;
  width: 100%;
}

.other__text {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 467px;
          flex: 1 467px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-galary__container img {
  width: 340px;
}

.footer__section {
  background-image: url(../images/footer/3319411.jpg);
  background-size: cover;
}

.footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 -10px;
}

.footer-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 10px;
}

.footer-col__title {
  color: #fbba08;
  font-size: 24px;
}

.footer-col__content {
  color: #fff;
}

.footer__icons img {
  max-height: 40px;
}
/*# sourceMappingURL=style.css.map */