*
    box-sizing: border-box

.container
    max-width: 1140px
    margin: 0 auto
  
.section
    padding: 50px 0px

.section-title
    padding: 0 0 20px 0
    width: 50%
    margin: 0 auto
  

.section-title__title
    text-transform: uppercase
    text-align: center
    font-size: 24px
    line-height: 28px
    position: relative
    &::before
        position: absolute
        top: -20px
        left: 50%
        transform: translateX(-50%)
        content: ''
        background: rgba(251, 186, 8, 1)
        width: 70px
        height: 3px
        display: block
   
.section-title__subtitle
    
    text-align: center
.section_lith-gary
    background-color: #f1f1f1


.custom-list
    list-style-type: none
    font-size: 20px
    line-height: 33px
    padding-left: 0

.custom-list__li
    padding: 5px 0
    ul 
        padding-left: 0
        font-size: 16px
.custom-list__li_oragne
    background-image: url(../images/icons/dotorange.svg)
    background-position: 1px 18px
    background-repeat: no-repeat
    list-style-type: none
    padding: 7px 20px






@media (max-width: 768px)
    .section
        padding: 25px 0px
    .section-title__title
        font-size: 20px
    .section-title
        padding: 0 
        width: 75%



    // Large
@media (min-width: 1281px) 
    .container
        max-width: 1140px
        margin: 0 auto
// ##Device = Laptops, Desktops
//  ##Screen = B/w 1025px to 1280px
@media (min-width: 1025px) and (max-width: 1280px)  
    .container
        max-width: 1024px
        margin: 0 auto
//##Device = Tablets, Ipads (portrait)
//  ##Screen = B/w 768px to 1024px
@media (min-width: 768px) and (max-width: 1024px)  
    .container
        max-width: 960px
        margin: 0 auto

// ##Device = Tablets, Ipads (landscape)
//  ##Screen = B/w 768px to 1024px 
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
    .container
        max-width: 100%

//#Device = Low Resolution Tablets, Mobiles (Landscape)
//##Screen = B/w 481px to 767px
@media (min-width: 481px) and (max-width: 767px)  
    .container
        max-width: 100%
    
  
      
//  ##Device = Most of the Smartphones Mobiles (Portrait)
//  ##Screen = B/w 320px to 479px
@media (min-width: 320px) and (max-width: 480px)    
    .container
        max-width: 100%
     
