*
    box-sizing: border-box

.container
    max-width: 1170px
    margin: 0 auto

@media (max-width: 1199px)
    .container
        max-width: 1140px
       

@media (max-width: 991px)
    .container
        max-width: 960px
       
@media (max-width: 768px)
    .container
        max-width: 100%
        padding: 0 15px

       
    

.section
    padding: 50px 0px

.section-title
    padding: 0 0 40px 0

.section-title__title
    text-transform: uppercase
    text-align: center
    font-size: 24px
    line-height: 28px
.section-title__subtitle
    text-transform: uppercase

.section_lith-gary
    background-color: #f1f1f1


.custom-list
    list-style-type: none
    font-size: 20px
    line-height: 33px
    padding-left: 0

.custom-list__li
    padding: 5px 0
.custom-list__li_oragne
    background-image: url(../images/icons/dotorange.svg)
    background-position: 1px 18px
    background-repeat: no-repeat
    list-style-type: none
    padding: 7px 20px


