.header
    background-color: #fff
.top-panel
   
.top-panel__container 
   
 
.top-panel__top 
    display: flex
    justify-content: space-between 
    padding: 10px 0
.top-panel__left 
.contact-block 
.contact-block__inner
.contact-block__item 
       
.contact-block__inner_icon

    padding-left: 35px
    background-image: url(../images/header/phone.svg) 
    background-repeat: no-repeat
    background-size: 28px 28px


.contact-block__text
    a
        display: block
        color: #000000b3
        text-decoration: none
        span 
            color: #000000b3
.top-panel__right
.work-time-block
.work-time-block__inner
    display: inline-block
.work-time-block__inner_icon
    padding-left: 35px
    background-image: url(../images/header/clock.svg) 
    background-repeat: no-repeat
    background-size: 28px 28px
.work-time-block__text
    color: #000000b3



.nav-bar
    background-color: #000000b3
    .container
        .nav-bar__row
         
            display: flex
            position: relative
            .site-branding
                margin: 8px
                .site-logo 
                    height: 100%
.site-logo__link
    height: 100%
    img 
        height: 50px
     
.nav-bar_sticky 
    position: fixed
    top: 0
    width: 100%
    z-index: 100
 
    .nav-bar__container
        .nav-bar__row
           
           
           

.mobile-menu-btn
    display: none
    position: absolute
    right: 20px
    top: 5px
@media (max-width: 768px)
    .site-branding
        padding-left: 25px
    .nav-bar__container
        padding: 0 !important
    .mobile-menu-btn
        display: block
    .top-panel__top 
        font-size: 14px

@media (max-width: 375px)
    .top-panel
        display: none