.hero 
    padding: 70px 0 0 0
    //background-color: #f0f8ff
.container 
.hero__body 
    display: flex
    flex-wrap: wrap
    padding: -15px
    justify-content: space-around
    
.hero__col 
    display: flex
    flex-direction: column
    justify-content: center
    text-transform: uppercase
    padding: 15px
    img 
        width: 100%
.col__body
    
.col__body_right
    align-self: flex-end

.col__title 
    padding: 0
    margin: 0
.col__list
    list-style-type: none
    padding-left: 0 
    li 
        padding-left: 30px
        background: url(../images/hero/emojione-monotone_check-mark.svg) 0 6px no-repeat

.hero__col_background-logo

  
// Large
@media (min-width: 1281px) 
    .hero 
     // background-color: red

// ##Device = Laptops, Desktops
//  ##Screen = B/w 1025px to 1280px
@media (min-width: 1025px) and (max-width: 1280px)  
   // .hero 
     // background-color: green

//##Device = Tablets, Ipads (portrait)
//  ##Screen = B/w 768px to 1024px
@media (min-width: 768px) and (max-width: 1024px)  
   // .hero 
     // background-color: blue
    .hero__body
        padding: 0 20px
    .hero__col
        flex: 1 1 
        padding: 2px
    .col__title
        text-align: center

// ##Device = Tablets, Ipads (landscape)
//  ##Screen = B/w 768px to 1024px 
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
    .hero 
      //background-color: #f009aa
      padding: 20px 0
    .hero__body
        padding: 0 20px
    .hero__col
        flex: 1 1 
        padding: 2px
    .col__title
        text-align: center

//#Device = Low Resolution Tablets, Mobiles (Landscape)
//##Screen = B/w 481px to 767px
@media (min-width: 481px) and (max-width: 767px)  
    .hero 
      padding: 20px 0  
      background-color: indianred
    .hero__body 
        flex-direction: row-reverse
        justify-content: space-around
    .hero__col
        padding: 5px
      
//  ##Device = Most of the Smartphones Mobiles (Portrait)
//  ##Screen = B/w 320px to 479px
@media (min-width: 320px) and (max-width: 480px)    
    .hero
          padding: 20px 0  
    .hero__body
        flex-direction: column-reverse


    

  