.icons-block 
    padding: 35px
    &__body 
        max-width: 1140px
        margin: auto

.icons-flex 
    display: flex
    justify-content: space-between
    .item-icon
        &__img 
            img
                display: block
                margin: 0 auto

        &__text 
            color: #666666
        
       
		

