.main-slider 

		// .main-slider__body

  &__body
    max-width: 1140px
    margin: auto
		// .main-slider__item

    &__item
  
		

.slide-content 
  display: flex
		// .slide-content__image

  &__image
    width: 65%
    img 
      width: 100%
		// .slide-content__text

  &__text
    width: 35%
    color: #ffffff
    text-transform: uppercase
    background: #000000
    background: -webkit-linear-gradient(to right, #434343, #000000)
    background: linear-gradient(to right, #434343, #000000)
  
    h2 
      padding: 50px 0 0 40px
      font-size: 20px
    ul 
      li
        background-image: url(/images/icons/emojione-monotone_check-mark.svg)
        
        background-repeat: no-repeat
        background-position: 1px 10px 
        list-style-type: none  
        font-size: 16px
        padding: 10px 25px 10px 

        span 
          padding-right: 20px
      
		

.mainslider 

		// .mainslider__item

  &__item

