.other-section 
.other-services__title 
.oter-services_subtitle 
.otehr__row 
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    padding: 20px 0
    background-color: #ffffff
    padding: 20px
.other__image 
    flex: 45%
    min-height: 250px
    display: flex
    justify-content: center
    background-image: url('../images/other-services/other1.jpg')  
    background-size: cover 
    width: 100%
  
.other__text 
    flex: 55%
    display: flex 
    flex-wrap: wrap
   
.other-text__title
.other__item
    padding: 15px
    flex: 1 50%
    p 
        text-align: center
.other__icon
    img 
        height: 50px
        display: block
        margin: 0 auto
 

    
@media (min-width: 320px) and (max-width: 700px)  
    .other__image 
        flex: 100%