.services 

.container 
.services__title 
.services__h1 
.srvices__row 
    display: flex
    flex-wrap: wrap
    margin: 0 -8px
.srevices__column
    flex: 0 1 50% 
    margin: 0 0 20px 0
    padding: 0 8px
.services__item 
.item 
.item_row
    display: flex 
.item__image 
    flex: 0 0 230px
.item__body 
    flex: 1 1 auto
    padding: 0 0 0 15px
    background-color: #ffffff
.item__title 
    text-transform: uppercase
    font-size: 18px
.item__text
    font-size: 16px
    line-height: 24px
    padding-right: 10px