.specializations 
.section-title 
.specialization__title

.specialization_subtitle 

.specialization__row 
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    padding: -8px

.specizlization__item 
    flex: 0 1 230px
    padding: 0px
    //border: 2px rgba(251, 186, 8, 1) solid
    padding: 8px
  
.specialization__col
    flex: 1
    display: flex
    flex-direction: column
    height: 100%

.specialize__image 
    width: 100%
      
.specialyze__text 
    flex: 1 1 auto
   
    text-transform: uppercase
    color: #fff
    background-color: rgba(251, 186, 8, .7)
    line-height: 21px
    font-size: 18px
    padding: 18px 10px 26px 10px
    


@media (max-width: 768px)
    .specizlization__item 
        flex: 0 0 50%
    .specialize__image 


@media (min-width: 768px) and (max-width: 1024px)  
    .specizlization__item 
        flex: 0 0 25%        
