.specializations 
.section-title 
.specialization__title

.specialization_subtitle 

.specialization__row 
    display: flex
    flex-wrap: wrap
    justify-content: space-around

.specizlization__item 
    flex-basis: 226px
    display: flex
.specialization__col

    display: flex
    flex-direction: column

.specialize__image 
    height: 223px
    img 
        height: 100%
       
.specialyze__text
    flex: 1 1 auto
    text-transform: uppercase
    color: #ffffff
    background-color: rgba(251, 186, 8, 0.8)
    line-height: 21px
    font-size: 18px
    padding: 18px 10px 26px 18px
